/* home.css */
body {
    font-family: Arial, sans-serif;
    background-image: url('../images/A night scene with a lake in the background, some birds and animals, and only one human child.png');
    background-size: cover; /* Ensure it covers the whole background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling */
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgba(52, 58, 64, 0.7); /* Semi-transparent background */
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}

h1 {
    margin: 20px 0;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product-card {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
    background-color: #ffffff;
    transition: box-shadow 0.3s;
}

.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}
